/* GENERAL */
.page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: none;
    background-color: whitesmoke;
    flex-direction: column;
}

.page.active {
    display: flex;
}

.page .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page .background.overlay {
    background-size: auto 100%;
}

.page .facts {
    flex-grow: 1;
    text-align: center;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none !important;
}


/* INDIVIDUAL PAGES */
/* start page */

#start-page {
    justify-content: center;
    align-items: center;
}

.start-page-animal {
    position: absolute;
}

#start-page-title {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    z-index: 3;
}
#start-page-snake {
    height: min(41vh, 442px, 30vw);
    top: min(20vh, 220px);
    left: 0;
}
#start-page-bat {
    height: min(22vh, 240px, 30vw);
    top: 0;
    right: /* make sure we're to the left of the bookmarks*/ calc(6 * (50px + 10px));
}
#start-page-lion {
    height: min(25vh, 267px, 40vw);
    bottom: 0;
    left: min(10vw, 190px);
}
#start-page-bear {
    height: min(36vh, 389px, 40vw);
    top: min(30vh, 324px);
    right: 0;
}


@media screen and (max-width: 780px) {
    #start-page-bat {
        display: none;
    }
}

