.page-turner {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 80%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: right;
}

#page-turner-left {
    justify-content: left;
    left: 0;
}

#page-turner-left img {
    transform: rotate(180deg);
}
.page-turner img {
    max-height: 10vh;
    filter: opacity(0);
    padding: 0.5rem;
}
.page-turner:hover img {
    filter: brightness(0) saturate(100%) invert(19%) sepia(1%) saturate(0%) hue-rotate(263deg) brightness(91%) contrast(88%);
}

.page.turn-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/*
.page.turn-overlay.left-to-right {
    animation: turn-overlay-left-to-right 1.5s ease-in-out;
}

.page.turn-overlay.right-to-left {
    animation: turn-overlay-right-to-left 1.5s ease-in-out;
}

@keyframes turn-overlay-left-to-right {
    from {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        left: -50vw
    }

    to {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        left: 0vw
    }
}

@keyframes turn-overlay-right-to-left {
    from {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        left: 50vw
    }

    to {
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
        left: 0
    }
}

.page.turn {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.page.turn.left-to-right {
    animation: turn-left-to-right 1.5s ease-in-out;
}

.page.turn.right-to-left {
    animation: turn-right-to-left 1.5s ease-in-out;
}

@keyframes turn-left-to-right {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
    }
}

@keyframes turn-right-to-left {
    from {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    to {
        clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
    }
}*/


.page.turn-overlay.left-to-right {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    animation: turn-overlay-left-to-right 0.5s ease-out 0.5s forwards;
    transform: rotate3d(0, 1, 0, -90deg);
}

.page.turn-overlay.right-to-left {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    animation: turn-overlay-right-to-left 0.5s ease-out 0.5s forwards;
    transform: rotate3d(0, 1, 0, 90deg);
}

@keyframes turn-overlay-left-to-right {
    from {
        transform: rotate3d(0, 1, 0, -90deg);
    }

    to {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@keyframes turn-overlay-right-to-left {
    from {
        transform: rotate3d(0, 1, 0, 90deg);
    }

    to {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@keyframes turn-overlay-left-to-right-mobile {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes turn-overlay-right-to-left-mobile {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

.page.turn-underlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.page.turn-underlay.left-to-right {
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
    animation: turn-underlay-left-to-right 0.5s ease-in forwards;
}

.page.turn-underlay.right-to-left {
    clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
    animation: turn-underlay-right-to-left 0.5s ease-in forwards;
}

@keyframes turn-underlay-left-to-right {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    
    to {
        transform: rotate3d(0, 1, 0, -90deg);
    }
}

@keyframes turn-underlay-right-to-left {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    
    to {
        transform: rotate3d(0, 1, 0, 90deg);
    }
}


.page.turn {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.page.turn.left-to-right {
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
}

.page.turn.right-to-left {
    clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

.page-swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    z-index: 1000;
}

@media (pointer: coarse) {
    .page-swiper {
        display: block;
    }
    .page-turner {
        display: none;
    }

    .page.turn-underlay {
        display: none;
    }
    .page.turn-overlay {
        clip-path: none !important;
        transform: none !important;
        position: fixed;
    }
    .page.turn-overlay.left-to-right {
        animation: turn-overlay-left-to-right-mobile 0.5s ease-out forwards;
    }
    .page.turn-overlay.right-to-left {
        animation: turn-overlay-right-to-left-mobile 0.5s ease-out forwards;
    }
    .page.turn.left-to-right {
        clip-path: none;
    }
    .page.turn.right-to-left {
        clip-path: none;
    }
    .page.turn {
        display: none;
    }
}