@font-face {
    font-family: "ComicSans";
    src: url("assets/font/cs.ttf") format("truetype");
}

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* font-family: "Chilanka", cursive; */
    user-select: none;
    font-family: "ComicSans", "Chilanka", cursive;
}

* {
    box-sizing: border-box;
}

main {
    position: relative;
}