html,
body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* font-family: "Chilanka", cursive; */
    user-select: none;
}

* {
    box-sizing: border-box;
}

main {
    position: relative;
}